* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 18px;
    background-color: #24A3E1;
}

img {
    max-width: 100%;
}

.container {
    max-width: 640px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 45px;
    margin-top: 15px;
}

.register__title {
    font-weight: 700;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 25px;
}

.register__form {
    margin: 0 auto;
    max-width: 440px;
    padding-bottom: 20px;
}

.form__container {
    border-bottom: 1px solid #E0DADA;
}

.form__input .input {
    width: 440px;
    height: 68px;
    border: 1px solid #D7C8C8;
    border-radius: 45px;
    margin-bottom: 25px;
    padding-left: 20px;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
}

.row__input .input {
    width: 210px;
    height: 68px;
    border: 1px solid #D7C8C8;
    border-radius: 45px;
    margin-bottom: 25px;
    padding-left: 20px;
}

.row {
    margin-left: 20px;
}

.btn {
    cursor: pointer;
    width: 440px;
    height: 68px;
    color: #fff;
    background-color: #56E1E1;
    text-align: center;
    border: none;
    border-radius: 45px;
    margin-bottom: 30px;
    font-size: 20px;
}

.register__link {
    padding-bottom: 30px;
}

.register__link a{
    color: #B3D2E9;
    text-decoration: none;
}

.register__link p {
    text-align: center;
}

.register__link a:hover {
    color: #56E1E1;
    transition: 0.5s;
}